<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>If unless</title>
</head>
<body>
	<table border="2">
		<thead>
			<tr>
				<th>Name</th>
				<th>Role</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
	         <tr th:each="user : ${users}">
				<td th:text="${user.name}"></td>
				<td th:text="${user.role}"></td>
				<td th:text="${user.email}"></td>
				<td>
					<a th:href="@{/update}" th:if="${user.role}=='Admin'">update</a>
					<a th:href="@{/delete}" th:if="${user.role}=='Admin'">delete</a>
					<a th:href="@{/view}" th:unless="${user.role}=='Admin'">view</a>
				</td>
			</tr>
		</tbody>
	</table>
</body>
</html>

	

